mobilenet_10000steps_16batchsize filter=lfs diff=lfs merge=lfs -text
mobilenet_10000steps_24batchsize filter=lfs diff=lfs merge=lfs -text
mobilenet_10000steps_8batchsize filter=lfs diff=lfs merge=lfs -text
mobilenet_5000steps_8batchsize filter=lfs diff=lfs merge=lfs -text
mobilenet_5000steps_24batchsize filter=lfs diff=lfs merge=lfs -text
mobilenet_5000steps_16batchsize filter=lfs diff=lfs merge=lfs -text
resnet_2500steps_16batchsize filter=lfs diff=lfs merge=lfs -text
resnet_2500steps_8batchsize filter=lfs diff=lfs merge=lfs -text
resnet_5000steps_8batchsize filter=lfs diff=lfs merge=lfs -text
resnet_5000steps_16batchsize filter=lfs diff=lfs merge=lfs -text
resnet_2500steps_16batchsize/checkpoint/ckpt-0.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
resnet_2500steps_16batchsize/saved_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
resnet_2500steps_8batchsize/* filter=lfs diff=lfs merge=lfs -text
resnet_2500steps_8batchsize/checkpoint/ckpt-0.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
